beautifulsoup4==4.13.4
Crawl4AI==0.6.3
fastapi==0.115.12
ipaddress==1.0.23
Jinja2==3.1.6
Markdown==3.8
mmh3==5.1.0
openai==1.75.0
pydantic==2.11.4
pydantic-settings==2.9.1
python-dotenv==1.1.0
PyYAML==6.0.2
redis==6.1.0
uvicorn==0.34.2